# Ignore system files
.dockerignore
.dockerignore.tmpl
.dockerignore.example
.dockerignore.template
.git
.gitignore
.gitattributes
.editorconfig
*.md
*.markdown
*.yml
*.yaml
*.txt
*.html
*.htm
*.css
*.scss
*.less
*.sass
*.map
*.xml
*.svg
*.gif
*.bmp
*.ico
*.tif
*.tiff
*.tga
*.eps
*.pdf
*.ppt
*.pptx
*.xls
*.xlsx
*.doc
*.docx
*.log
*.psd
*.zip
*.tar
*.gz
*.bz2
*.7z
*.rar
*.xz
*.exe
*.dll
*.obj
*.lib
*.pdb
*.so
*.a
*.dylib
*.beam
*.o
*.ko
*.cmo
*.cmi
*.cma
*.cmx
*.cmxa
*.cmt
*.cmti
*.merlin
*.cmt_cache
*.native
*.byte
*.mli
*.ml
*.mll
*.mly
*.class
*.jar
*.war
*.ear
*.apk
*.sqlite
*.sqlite3
*.db
*.sql
*.bak
*.orig
*.old
*.new
*.cfg
*.ini
*.env
*.env.local
.env.*.local
.env.test
.env.prod
.env.local
.env.development.local
.env.test.local
.env.prod.local

# Ignore node_modules directory
node_modules/

# Ignore dependencies and build artifacts
npm-debug.log
yarn.lock
yarn-error.log
/dist
/build
/out
/.next
/.nuxt
/.svelte
/.cache
/.idea
/.vscode
/.history
.DS_Store
Thumbs.db
error.log

# vars & secrets directory
**/.secrets
.vars